{% extends "account/account_base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}مشاهده اعلان جدید{% endblock %}

{% block extra_head %}
<link href="{% static 'account/build/css/notificationdetail_style.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}


<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>جزئیات اعلان</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table class="table">
                    <tr>
                        <td style="width: 200px;">نوع اعلان</td>
                        <td>
                            <div class="avatar-info">
                                <div class="user-details">
                                    <span class="user-title">{{ notification.verb }}</span>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% if request.user.is_staff %}
                    <tr>
                        <td>کاربر اعمال کننده</td>
                        <td>
                            <div class="avatar-info">
                                {% if notification.actor.customuserimages.all|length > 0 %}
                                    <img src="{{ notification.actor.customuserimages.first.image.url }}" alt="Avatar">
                                {% else %}
                                    <div class="rounded-circle bg-secondary d-flex align-items-center justify-content-center" style="width: 46px; height: 46px;">
                                        <span class="text-white">{{ notification.actor.first_name|make_list|first|upper }}{{ notification.actor.last_name|make_list|first|upper }}</span>
                                    </div>
                                {% endif %}
                                <div class="user-details">
                                    <span class="user-name">{{ notification.actor.get_full_name }}</span>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endif %}
                    <tr>
                        <td>عنوان اعلان</td>
                        <td>{{ notification.description|linebreaksbr }}</td>
                    </tr>
                    <tr>
                        <td>زمان اعلان</td>
                        <td>{{ notification.timesince }} پیش</td>
                    </tr>
                </table>
                
                <div class="mt-4">
                    <a href="{% url 'account:notifications_list' %}" class="btn btn-primary">بازگشت</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

