{% extends "account/account_base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %}تغییر گذر واژه {% endblock %}

{% block content %}

<div class="col-md-6 col-sm-6 col-xs-12" style="margin-top: 100px;">
    <div class="x_panel">
        <div class="x_content">
            <div class="bs-example" data-example-id="simple-jumbotron">
                <div class="jumbotron text-center">
                    <span style="font-size:large; color:green;">تغییر گذرواژه با موفقیت انجام شد</span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

