{% extends "account/account_base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %}تغییر گذر واژه{% endblock %}

{% block content %}
<div>
<div class="col-md-6 col-xs-12" style="scale:90%;">
  <div class="x_panel">
    <div class="x_title">
        <h2>تغییر گذر واژه</h2>

        <div class="clearfix"></div>
    </div>
    <form method="post">
      {% csrf_token %}
       
        <br>
           
        {{ form.old_password|as_crispy_field }}
           
        <br>
        
        {{ form.new_password1|as_crispy_field }}
        <br>
        {{ form.new_password2|as_crispy_field }}
        
        <br>
        
        <br>
        <a href="{% url 'account:profile' %}" class="btn btn-primary">بازگشت</a>
        <button type="submit" class="btn btn-danger">تغییر گذر واژه</button>    

    </form>
  </div>
</div>
</div>
{% endblock %}

