{% extends "account/account_base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %}پروفایل کاربری{% endblock %}

{% block content %}
<style>
  textarea.form-control {
    height: 80px;
  }
  .custom-file-upload {
    display: inline-block;
    background-color: #28a745; /* رنگ سبز */
    color: white;
    padding: 10px 12px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
}

.custom-file-upload:hover {
    background-color: #218838;
}

.file-input {
    display: none; /* مخفی کردن input اصلی */
}

#file-name {
    margin-right: 10px;
    font-size: 14px;
    color: #666;
}


</style>

<div class="col-md-6 col-xs-12">
  <div class="x_panel" style="scale:85%;">
    <div class="x_title">
        <h2>پروفایل کاربری</h2>

        <div class="clearfix"></div>
    </div>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
       <br>
       <div class="col-md-12 col-sm-10 col-xs-12">

        <div class="form-row">
          <div class="form-group col-md-6 mb-0">
            {{ form.username|as_crispy_field }}
          </div>
          <div class="form-group col-md-6 mb-0">
            {{ form.email|as_crispy_field }}
          </div>
          <div class="col-3" style="font-size: small; margin-right: 20px;">
            <label class="my-4" style="font-size: x-small;"> گذرواژه:</label>
            <span style="background: #cffff2;">برای تغییر گذرواژه <a href="{% url 'account:password_change' %}" style="color: blue;">کلیک</a> کنید</span>
          </div>
        </div>
        <br>
        <div class="form-row">
          <div class="form-group col-md-6 mb-0">
              {{ form.first_name|as_crispy_field }}
          </div>
          <div class="form-group col-md-6 mb-0">
              {{ form.last_name|as_crispy_field }}
          </div>
        </div>
        <br>
        <div class="form-row">
          <div class="form-group col-md-6 mb-0">
            {{ form.phone_number|as_crispy_field }}
          </div>
          <div class="form-group col-md-6 mb-0">
            {{ form.birth_date|as_crispy_field }}
          </div>
        </div>
      </div>
        <br>
        {% if user.user_type == 'customer' and form.bussines_value and form.customer_mentor %}
        <div class="col-md-12 col-sm-10 col-xs-12" style="margin-bottom: 10px;">
          <div class="form-group col-md-6 mb-0">
              {{ form.bussines_value|as_crispy_field }}
          </div>
        </div>
          
        <div class="col-md-12 col-sm-10 col-xs-12">
          <div class="form-group col-md-6 mb-0">
            <label> مشاور شما: </label>
              <p class="btn btn-default">
                {% if user.customer_mentor %}
                {{ user.customer_mentor.get_full_name }}
                {% else %}
                  فعلا مشاوری ندارید
                {% endif %}
              </p>
          </div>
        </div>
        {% endif %}
        <br>
        <br>
        <div class="col-md-12 col-sm-10 col-xs-12" style="margin-bottom: 10px;">
          <div class="col-md-12 col-sm-10 col-xs-12">
          {{ form.address|as_crispy_field }}
          </div>
        </div>
        <br>
        <br>
        <div class="col-md-12 col-sm-10 col-xs-12">
          {% if not user.is_staff %}
           <div class="form-group col-md-4 mb-0">
           <label> نوع کاربر: </label><p class="btn btn-default">{{ user.get_user_type_display}}</p>
           
           </div>
           {% endif %}
        </div>
        <br>
        {% if user.user_type == 'customer' and form.cutomer_type %}
        <div class="col-md-12 col-sm-10 col-xs-12" style="margin-bottom: 10px;">
          <div class="form-group col-md-6 mb-0">
            {{ form.cutomer_type|as_crispy_field }}
          </div>
        </div>
          <br>
        {% endif %}
        
        {% if user.user_type == 'dealer' or user.user_type == 'mentor' and form.rank or form.speciality_field %}
       
          <div class="col-md-12 col-sm-10 col-xs-12" style="margin-top: 20px;">
           <div class="form-group col-md-2 mb-0">
            <label> امتیاز شما: </label>
            <p class="btn btn-default">
              {% if user.rank %}
              {{ user.rank }}
              {% else %}
                فعلا امتیازی ندارید
              {% endif %}
            </p>
           </div>
          </div>
          <br>
        {% endif %}  
        <div class="col-md-12 col-sm-10 col-xs-12">
          <label for="profile-image">عکس پروفایل</label>
          <br>
          {% with user.customuserimages.last as profile_image %}
              {% if profile_image %}
                  <img id="profile-preview" src="{{ profile_image.image.url }}" class="img-thumbnail" width="150">
              {% else %}
                  <img id="profile-preview" src="{% static 'images/default-profile.png' %}" class="img-thumbnail" width="150">
              {% endif %}
          {% endwith %}
          <br><br>
      
          <!-- دکمه آپلود جایگزین -->
          <label for="profile_image" class="custom-file-upload">انتخاب فایل</label>
          <span id="file-name"></span>
      
          <!-- فیلد آپلود مخفی شده -->
          <input type="file" name="profile_image" id="profile_image" class="file-input" accept="image/*" style="display:none;">
        </div>
       <br>
       <div class="col-md-12 col-sm-10 col-xs-12" style="margin-bottom: 10px; margin-right: 100px;">
          <a href="{% url 'account:home' %}" class="btn btn-primary">بازگشت</a>
          <button type="submit" class="btn btn-success">بروزرسانی</button>    
       </div>
    </form>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var fileInput = document.getElementById('profile_image');
    var fileNameSpan = document.getElementById('file-name');
    var previewImage = document.getElementById('profile-preview');
    var defaultImage = previewImage.src; // ذخیره تصویر پیش‌فرض

    fileInput.addEventListener('change', function(event) {
        var file = fileInput.files[0];

        if (file) {

            var reader = new FileReader();
            reader.onload = function(e) {
                previewImage.src = e.target.result; // نمایش پیش‌نمایش تصویر
            };
            reader.readAsDataURL(file);
        } else {
            fileNameSpan.textContent = "هیچ فایلی انتخاب نشده است";
            previewImage.src = defaultImage; // اگر فایلی انتخاب نشود، تصویر پیش‌فرض را برگردان
        }
    });
});
</script>

{% endblock %}

