{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
 <!-- sidebar menu -->
 <div id="sidebar-menu" class="main_menu_side hidden-print main_menu" style="font-color: #fff;">
     <div class="menu_section">
         <ul class="nav side-menu">
             <li><a href="{% url 'adv:home' %}"><i class="fa fa-external-link" style="color: #7d919c;"></i> صفحه اصلی سایت</a></li>
             <li><a href="{% url 'account:home' %}"><i class="fa fa-home" style="color: #7d919c;"></i> داشبورد</a></li>
             <hr style="scale:90%;">
             {% if request.user.is_staff %}
             <li><a><i class="fa fa-laptop" style="color: #7d919c;"></i>مدیریت سایت<span class="fa fa-chevron-down"></span></a>
                 <ul class="nav child_menu">
                     <li><a href="{% url 'account:userslist' %}"><i class="fa fa-user"></i>لیست کاربران </a></li>
                     <li><a href="form_advanced.html"><i class="fa fa-users"></i>گروه های کاربری</a></li>
                     <li><a><i class="fa fa-laptop"></i>مدل های دیگر<span class="fa fa-chevron-down"></span></a>
                         <ul class="nav child_menu">
                        
                             {% for model in valid_models %}
                             <li><a href="{{ model.model_name }}">{{ model.verbose_name_plural }}</a></li>
                             {% endfor %}    
                         </ul>
                     </li>
                     <li><a><i class="fa fa-laptop"></i>گروه ها<span class="fa fa-chevron-down"></span></a>
                         <ul class="nav child_menu">
                        
                             {% for group in admin_groups %}
                             <li><a href="/admin/auth/group/{{ group.id }}/change/"> {{ group.name }}</a></li>
                             {% endfor %}    
                             <li><a href="form_advanced.html"><i class="fa fa-edit"></i>ایجاد گروه جدید</a></li>
                         </ul>
                     </li>
                 </ul>
             </li>
             <hr style="scale:90%;">
             {% endif %}
           {% if request.user.user_type == 'customer' or request.user.is_staff or request.user.is_am %}

             <li><a><i class="fa fa-tachometer" style="color: #7d919c;"></i> کمپین‌ ها <span class="fa fa-chevron-down"></span></a>
                 <ul class="nav child_menu">
                     <li><a href="{% url 'account:campaigns' %}"><i class="fa fa-list"></i>لیست کمپین‌ ها</a></li>
                     <li><a href="{% url 'account:campaigncreate' %}"><i class="fa fa-edit"></i>ایجاد کمپین‌ جدید</a></li>
                 </ul>
             </li>
             {% endif %}
             {% if request.user.user_type == 'dealer' %}
             <li><a><i class="fa fa-tachometer" style="color: #7d919c;"></i> کمپین‌ ها <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="{% url 'account:campaigns' %}"><i class="fa fa-list"></i>لیست کمپین‌ ها</a></li>
                </ul>
             </li>
             {% endif %}
             {% if request.user.is_staff or request.user.is_am %}
             <li><a><i class="fa fa-archive" style="color: #7d919c;"></i>نمونه کارها و رزومه ها<span class="fa fa-chevron-down"></span></a>
                 <ul class="nav child_menu">
                     <li><a href="{% url 'account:portfolios' %}"><i class="fa fa-list"></i>لیست نمونه کارها</a></li>
                     <li><a href="{% url 'account:portfoliocreate' %}"><i class="fa fa-edit"></i>ایجاد نمونه کار جدید</a></li>
                     <li><a href="{% url 'account:review_resumes' %}"><i class="fa fa-list"></i>لیست رزومه ها</a></li>
                 </ul>
             </li>
             {% endif %}
             {% if request.user.user_type == 'dealer' %}
             <li><a><i class="fa fa-archive" style="color: #7d919c;"></i>رزومه من<span class="fa fa-chevron-down"></span></a>
                 <ul class="nav child_menu">
                     <li><a href="{% url 'account:my_resume' %}"><i class="fa fa-user"></i>رزومه من</a></li>
                     <li><a href=""><i class="fa fa-user"></i>مدیریت نمونه کارها</a></li>
                     <li><a href=""><i class="fa fa-user"></i>مدیریت مجوزها</a></li>
                     <li><a href=""><i class="fa fa-user"></i>مدیریت لینک های نمونه کار</a></li>
                 </ul>
             </li>
             {% endif %}
             {% if request.user.is_staff  or request.user.is_am %}
             <li><a><i class="fa fa-group" style="color: #7d919c;"></i> پشتیبانان<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="{% url 'account:mentorslist' %}"><i class="fa fa-edit"></i>لیست پشتیبانان</a></li>
                </ul>
            </li>
             {% endif %}
             {% if request.user.user_type == 'mentor' %}
             <li><a href="{% url 'account:mentoruserslist' %}"><i class="fa fa-group"></i> لیست کاربران شما</a></li>
             <li><a href="#"><i class="fa fa-list-ul"></i> لیست درخواست پشتیبان</a></li>
             {% endif %}
             <li><a href="{% url 'messages:inbox' %}"><i class="fa fa-envelope" style="color: #7d919c;"></i> مدیریت پیام</a></li>
             <li><a><i class="fa fa-credit-card" style="color: #7d919c;"></i> مالی<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="{% url 'wallet:home' %}"><i class="fa fa-wallet"></i>کیف پول</a></li>
                    {% if request.user.is_staff or request.user.is_am %}
                        <li><a href="{% url 'wallet:receipts' %}"><i class="fa fa-money"></i>مدیریت فیش ها</a></li>
                        <li><a href="{% url 'wallet:receipt_management' %}"><i class="fa fa-clock-o"></i>فیش های در انتظار تایید</a></li>
                    {% endif %}
                </ul>
            </li>
         </ul>
     </div>

 </div>
 <!-- /sidebar menu -->

</html>
