{% extends "account/account_base.html" %}
{% load static %}

{% load advplatform_tags %}

{% block title %}لیست کاربران شما{% endblock %}

{% block content %}

<br>
<br>
<br>
 {% if users %}
<div class="col-md-12 col-sm-12 col-xs-12">
 <div class="x_panel">
     <div class="x_title">
         <h2>لیست کاربران شما </h2>
      
         <div class="clearfix"></div>
     </div>
     <div class="x_content">
         <div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
             <div class="row"><div class="col-sm-6">
                 <div class="dataTables_length" id="datatable_length">
                     <label>Show 
                         <select name="datatable_length" aria-controls="datatable" class="form-control input-sm">
                             <option value="10">10</option>
                             <option value="25">25</option>
                             <option value="50">50</option>
                             <option value="100">100</option>
                         </select> 
                         entries
                     </label>
                 </div>
             </div>
             <div class="col-sm-6">
                 <div id="datatable_filter" class="dataTables_filter">
                     <label>جستجو:
                         <input type="search" class="form-control input-sm" placeholder="" aria-controls="datatable">
                     </label>
                 </div>
             </div>
         </div>
         <div class="row">
             <div class="col-sm-12">
               
                 <table id="datatable" class="table table-striped table-bordered dataTable no-footer text-centers" role="grid" aria-describedby="datatable_info" style="margin-top:10px;">
                      <thead>
                         <tr role="row" style="background: #e17c1052; color: #000000b0;">
                              <th class="sorting_asc centered-cell" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="نام مشتری: activate to sort column descending" style="width: 150px;">
                                        نام مشتری/شرکت
                              </th>
                              <th class="sorting centered-cell" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="نوع مشتری: activate to sort column ascending" style="width: 100px;">نوع مشتری</th>
                              <th class="sorting centered-cell" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="زمینه فعالیت: activate to sort column ascending" style="width: 190px;">زمینه فعالیت</th>
                              <th class="sorting centered-cell" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="ارزش کسب و کار: activate to sort column ascending" style="width: 170px;">ارزش کسب و کار</th>
                              <th class="sorting centered-cell" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="ایمیل: activate to sort column ascending" style="width: 100px;">ایمیل</th>
                              <th class="sorting centered-cell" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="شماره تماس: activate to sort column ascending" style="width: 110px;">شماره تماس</th>
                              <th class="sorting centered-cell" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="سوابق مشاوره: activate to sort column ascending" style="width: 110px;">سوابق مشاوره</th>
                              <th class="sorting centered-cell" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="ارتباط: activate to sort column ascending" style="width: 110px;">ارتباط</th>
                             </tr>

                      </thead>
                         
                  <tbody>
                     <!-- Start loop campaigns -->
                     {% for user in users %}
                      <tr role="row" class="{% if forloop.counter0|divisibleby:2 %}even{% else %}odd{% endif %}">
                         <!-- Show customer mentor for Staff and Dealer -->
                          <td class="sorting_1 text-center">{{ user.get_full_name }}</td>
                          <td class="sorting_1 text-center">{{ user.get_cutomer_type_display }}</td>
                          <td class="sorting_1 text-center">{{ user.field_of_activity }}</td>
                          <td class="sorting_1 text-center">{{ user.bussines_value | format_price }}</td>
                          <td class="sorting_1 text-center">{{ user.email }}</td>
                          <td class="sorting_1 text-center">{{ user.phone_number }}</td>
                          <td class="sorting_1 text-center"><a href="#"  style="color: #8d0ef7;"><small>مشاهده</small> <i class="fa fa-search"></i></a></td>
                          <td class="sorting_1 text-center"><a href="#"  style="color: #0088fc;"><small>ارسال پیام</small> <i class="fa fa-envelope"></i></a></td>
                      </tr>
                    {% endfor %}
                  </tbody>
                 </table>
     </div>
 </div>
 <div class="row">
     <div class="col-sm-5">
         <div class="dataTables_info" id="datatable_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries

         </div>
     </div>
     <div class="col-sm-7">
         <div class="dataTables_paginate paging_simple_numbers" id="datatable_paginate">
             <ul class="pagination">
                 <li class="paginate_button previous disabled" id="datatable_previous">
                     <a href="#" aria-controls="datatable" data-dt-idx="0" tabindex="0">Previous</a>
                 </li>
                 <li class="paginate_button active">
                     <a href="#" aria-controls="datatable" data-dt-idx="1" tabindex="0">1</a>
                 </li>
                 <li class="paginate_button ">
                     <a href="#" aria-controls="datatable" data-dt-idx="2" tabindex="0">2</a>
                 </li>
                 <li class="paginate_button ">
                     <a href="#" aria-controls="datatable" data-dt-idx="3" tabindex="0">3</a>
                 </li>
                 <li class="paginate_button ">
                     <a href="#" aria-controls="datatable" data-dt-idx="4" tabindex="0">4</a>
                 </li>
                 <li class="paginate_button ">
                     <a href="#" aria-controls="datatable" data-dt-idx="5" tabindex="0">5</a>
                 </li>
                 <li class="paginate_button ">
                     <a href="#" aria-controls="datatable" data-dt-idx="6" tabindex="0">6</a>
                 </li>
                 <li class="paginate_button next" id="datatable_next">
                     <a href="#" aria-controls="datatable" data-dt-idx="7" tabindex="0">Next</a>
                 </li>
             </ul>
         </div>
     </div>
 </div>
</div>
{% else %}
<div style="text-align: center;  margin: 100px;">
 <h3 class="name mx-auto ">کاربری برای نمایش وجود ندارد</h3>
</div>
 {% endif %}
     </div>
 </div>
</div>


{% endblock %}