{% extends "account/account_base.html" %}
{% load static %}

{% load advplatform_tags %}

{% block title %}مشاور شما{% endblock %}

{% block content %}
<style>
    .img-circle {
        border-radius: 0;

      }

    .ratings {
        display: flex;
        align-items: center;
        gap: 4px;
        color: #ffc107;
    }

    .ratings .fa-star {
        font-size: 14px;
    }

    .ratings .fa-star-o {
        color: #ddd;
    }

    .ratings .fa-star-half-o {
        color: #ffc107;
    }
</style>
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>مشاور شما</h2>
            
            <div class="clearfix"></div>
        </div>
        {% if user_last_request %}
        <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
            <div class="well profile_view">
                <div class="col-sm-12">
                    <h6 class="text-success">درخواست شما برای انتخاب این مشاور در حال بررسی است</h6>
                    <div class="left col-xs-7">
                        <h2>{{ user_last_request.mentor.get_full_name }}</h2>
                        <br>
                    </div>
                    <div class="right col-xs-5 text-center">
                        <img src="{% if user.customer_mentor.customuserimages.first.image.url %}
                                    {{ user.customer_mentor.customuserimages.first.image.url }}
                                    {% else %}
                                    {% static 'account/build/images/img.jpg' %}{% endif %}" alt="..." class="img-circle img-responsive"> 
                    </div>
                </div>
                <br>
                <p>وضعیت: <small class="text-danger">{{ user_last_request.get_status_display }}</small>
                </p>
                <br>
                <div class="col-xs-12 bottom text-center">
                    <div class="col-xs-12 col-sm-6 emphasis">
                        <p class="ratings">
                            {% for i in '12345' %}
                                {% with i|add:"0" as num %}
                                    {% if user.customer_mentor.rank >= num %}
                                        <span class="fa fa-star"></span>
                                    {% elif user.customer_mentor.rank >= num|add:"-0.5" %}
                                        <span class="fa fa-star-half-o"></span>
                                    {% else %}
                                        <span class="fa fa-star-o"></span>
                                    {% endif %}
                                {% endwith %}
                            {% endfor %}
                        </p>
                    </div>
                    <div class="col-xs-12 col-sm-6 emphasis">
                        <button type="button" class="btn btn-primary btn-xs">
                            <i class="fa fa-user"> </i> مشاهد حساب
                        </button>
                    </div>
                </div>
            </div>
        </div>
        {% elif not user.customer_mentor %}
            <div class="text-center">
                <strong class="text-center text-danger"> شما در حال حاضر مشاور یا درخواست مشاوره در حال بررسی ندارید </strong>
                <h6><a href="{% url 'account:mentorslist' %}" class="btn text-success"><i class="fa fa-users"></i>انتخاب مشاور</a></h6> 
            </div>
        {% else %} 
        <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
            <div class="well profile_view">
                <div class="col-sm-12">
                    <div class="left col-xs-7">
                        <h2>{{ user.customer_mentor.get_full_name }}</h2>
                        <br>
                    </div>
                    <div class="right col-xs-5 text-center">
                        <img src="{% if user.customer_mentor.customuserimages.first.image.url %}
                                    {{ user.customer_mentor.customuserimages.first.image.url }}
                                    {% else %}
                                    {% static 'account/build/images/img.jpg' %}{% endif %}" alt="..." class="img-circle img-responsive"> 
                    </div>
                    
                </div>
                <div class="col-xs-12 bottom text-center">
                    <div class="col-xs-12 col-sm-6 emphasis">
                        <p class="ratings">
                            {% for i in '12345' %}
                                {% with i|add:"0" as num %}
                                    {% if user.customer_mentor.rank >= num %}
                                        <span class="fa fa-star"></span>
                                    {% elif user.customer_mentor.rank >= num|add:"-0.5" %}
                                        <span class="fa fa-star-half-o"></span>
                                    {% else %}
                                        <span class="fa fa-star-o"></span>
                                    {% endif %}
                                {% endwith %}
                            {% endfor %}
                        </p>
                    </div>
                    <div class="col-xs-12 col-sm-6 emphasis">
                        <button type="button" class="btn btn-success btn-xs">
                            <i class="fa fa-user">
                            </i>
                            <i class="fa fa-comments-o">
                            </i>
                        </button>
                        <button type="button" class="btn btn-primary btn-xs">
                            <i class="fa fa-user"> </i> مشاهد حساب
                        </button>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}