{% extends "account/account_base.html" %}
{% load static %}

{% block title %}لیست درخواست مشاور{% endblock %}

{% block content %}

   <br>
   <br>
   <br>
    {% if requests %}
   <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>لیست درخواست مشاور </h2>
         
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                <div class="row"><div class="col-sm-6">
                    <div class="dataTables_length" id="datatable_length">
                        <label>Show 
                            <select name="datatable_length" aria-controls="datatable" class="form-control input-sm">
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select> 
                            entries
                        </label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div id="datatable_filter" class="dataTables_filter">
                        <label>جستجو:
                            <input type="search" class="form-control input-sm" placeholder="" aria-controls="datatable">
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table id="datatable" class="table table-striped table-bordered dataTable no-footer" role="grid" aria-describedby="datatable_info">
                         <thead style="background:#5e4bd8; color:#ffee">
                         <div role="row">
                            {% if user.is_staff %}<th class="sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="درخواست دهنده: activate to sort column descending" style="width: 100px;">درخواست دهنده</th>{% endif %}
                             <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="منتور مورد نظر: activate to sort column ascending" style="width: 100px;">منتور مورد نظر</th>
                             <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="زمان درخواست: activate to sort column ascending" style="width: 100px;">زمان درخواست</th>
                             <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="آخرین ویرایش: activate to sort column ascending" style="width: 100px;">آخرین ویرایش</th>
                             <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="وضعیت درخواست: activate to sort column ascending" style="width: 80px;">وضعیت درخواست</th>
                         </thead>


                     <tbody>
                        {% for request in requests %}
                         <tr role="row" class="{% if forloop.counter0|divisibleby:2 %}even{% else %}odd{% endif %}" style="color:#6f55c5;">
                            <td>{{ request.requested_user.get_full_name }}</td>
                            <td>{{ request.mentor.get_full_name }}</td>
                            <td>{{ request.created_at }}</td>
                            <td>{{ request.modified_at }}</td>
                            <td>
                                {{ request.get_status_display }}
                                {% if request.status == 'pending' %}
                                    <form 
                                        action="{% url 'account:changestatusrequestformentor' request.pk %}" 
                                        method="POST" 
                                        style="display:inline;" 
                                        onsubmit="return setStatusValue(event)">

                                        {% csrf_token %}

                                        <input type="hidden" name="requested_user_id" value="{{ request.requested_user.id }}">
                                        <input type="hidden" name="mentor_id" value="{{ request.mentor.id }}">
                                        <input type="hidden" name="status" id="status-input">

                                        <button class="btn btn-primary btn-xs" style="scale:0.8;" type="submit" data-status="approved">
                                            <small>تایید</small>
                                        </button>
                                    
                                        <button class="btn btn-danger btn-xs" style="scale:0.8;" type="submit" data-status="rejected">
                                            <small>عدم تایید</small>
                                        </button>
                                    </form>
                            
                                {% endif %}
                            </td>
                         </tr>
                       {% endfor %}
                     </tbody>
                    </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5">
            <div class="dataTables_info" id="datatable_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries

            </div>
        </div>
        <div class="col-sm-7">
            <div class="dataTables_paginate paging_simple_numbers" id="datatable_paginate">
                <ul class="pagination">
                    <li class="paginate_button previous disabled" id="datatable_previous">
                        <a href="#" aria-controls="datatable" data-dt-idx="0" tabindex="0">Previous</a>
                    </li>
                    <li class="paginate_button active">
                        <a href="#" aria-controls="datatable" data-dt-idx="1" tabindex="0">1</a>
                    </li>
                    <li class="paginate_button ">
                        <a href="#" aria-controls="datatable" data-dt-idx="2" tabindex="0">2</a>
                    </li>
                    <li class="paginate_button ">
                        <a href="#" aria-controls="datatable" data-dt-idx="3" tabindex="0">3</a>
                    </li>
                    <li class="paginate_button ">
                        <a href="#" aria-controls="datatable" data-dt-idx="4" tabindex="0">4</a>
                    </li>
                    <li class="paginate_button ">
                        <a href="#" aria-controls="datatable" data-dt-idx="5" tabindex="0">5</a>
                    </li>
                    <li class="paginate_button ">
                        <a href="#" aria-controls="datatable" data-dt-idx="6" tabindex="0">6</a>
                    </li>
                    <li class="paginate_button next" id="datatable_next">
                        <a href="#" aria-controls="datatable" data-dt-idx="7" tabindex="0">Next</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
   </div>
   {% else %}
   <div style="text-align: center;  margin: 100px;">
    <h3 class="name mx-auto ">درخواستی برای نمایش وجود ندارد</h3>
   </div>
    {% endif %}
        </div>
    </div>
</div>

<script>
    function setStatusValue(event) {
        event.preventDefault();  // جلوگیری از ارسال فوری فرم
        const statusInput = document.getElementById('status-input');
        statusInput.value = event.submitter.getAttribute("data-status"); // مقدار وضعیت را تنظیم کن
        event.target.submit();  // فرم را ارسال کن
    }
</script>
{% endblock %}