venv/
env/

*.DS_Store
*.pyc
*.pyo


.idea/
.vscode/
*.swp

*.log
*.sqlite3
*.pot
*.py[co]
*.orig

.env
*.secret

/static/
/media/

*/migrations/*.py[cod]

*.cache

### Django ###
*.log
*.pot
*.pyc
__pycache__/
advertisemnets/local_settings.py

.env
db.sqlite3
/__pycache__/
*/local_settings.py
