{% extends "login_base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title%}
بازیابی گذرواژه
{% endblock %}


{% block customcontent %}
<form method="post">
  {% csrf_token %}
<div data-mdb-input-init class="form-outline mb-4">
  <label class="form-label" type="text" name="username" id="username" >ایمیل کاربری</label>
  {{ form.email|add_class:"form-control" }}
  {% if form.username.errors %}
    {% for error in form.username.errors %}
    <span class="text-danger">{{ error }}</span>
    {% endfor %}
  {% endif %}
</div>

<div class="text-center pt-1 mb-5 pb-1">
  <button data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit">بازیابی گذرواژه</button>
</div>
</form>

{% endblock %}