{% extends "login_base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
گذرواژه جدید
{% endblock %}

{% block customcontent %}
{% if validlink %}
<form method="post">
    {% csrf_token %}
    <div data-mdb-input-init class="form-outline mb-4">
        <label class="form-label" for="password1">گذرواژه جدید</label>
        {{ form.new_password1|add_class:"form-control" }}
        {% if form.new_password1.errors %}
            {% for error in form.new_password1.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        {% endif %}
    </div>

    <div data-mdb-input-init class="form-outline mb-4">
        <label class="form-label" for="password2">تکرار گذرواژه</label>
        {{ form.new_password2|add_class:"form-control" }}
        {% if form.new_password2.errors %}
            {% for error in form.new_password2.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        {% endif %}
    </div>

    <div class="d-flex align-items-center justify-content-center pb-4">
        <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-success">تایید</button>
    </div>
</form>
{% else %}
 <div class="text-center" >
    <p class="text-danger">لینک منقضی شده است</p>
    <a class="text-primary" href="{% url 'adv:login' %}">بازگشت</a>
 </div>
{% endif %}
{% endblock %}
