{% extends "login_base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title%}
ثبت نام
{% endblock %}

{% block customcontent %}
<div class="container" style="max-width: 500px;">
  <form method="post" novalidate>
    {% csrf_token %}

    <div data-mdb-input-init class="form-outline mb-4">
      {{ form.first_name|add_class:"form-control"|attr:"placeholder:نام *" }}
      {% if form.first_name.errors %}
        {% for error in form.first_name.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}
      {% endif %}
    </div>

    <div data-mdb-input-init class="form-outline mb-4">
      {{ form.last_name|add_class:"form-control"|attr:"placeholder:نام خانوادگی *" }}
      {% if form.last_name.errors %}
        {% for error in form.last_name.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}
      {% endif %}
    </div>

    <div data-mdb-input-init class="form-outline mb-4">
      {{ form.email|add_class:"form-control"|attr:"placeholder:آدرس ایمیل *" }}
      {% if form.email.errors %}
        {% for error in form.email.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}
      {% endif %}
    </div>

    <div data-mdb-input-init class="form-outline mb-4">
      {{ form.password1|add_class:"form-control"|attr:"placeholder:گذرواژه *" }}
      {% if form.password1.errors %}
        {% for error in form.password1.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}
      {% endif %}
    </div>

    <div data-mdb-input-init class="form-outline mb-4">
      {{ form.password2|add_class:"form-control"|attr:"placeholder:تایید گذرواژه *" }}
      {% if form.password2.errors %}
        {% for error in form.password2.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}
      {% endif %}
    </div>

    <div data-mdb-input-init class="form-outline mb-4">
      <select name="user_type" class="form-control" id="{{ form.user_type.id_for_label }}">
        <option value="" selected disabled>نوع کاربری</option>
        {% for value, label in form.user_type.field.choices %}
          <option value="{{ value }}" {% if form.user_type.value == value %}selected{% endif %}>{{ label }}</option>
        {% endfor %}
      </select>
      {% if form.user_type.errors %}
        {% for error in form.user_type.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}
      {% endif %}
    </div>

    <div data-mdb-input-init class="form-outline mb-4">
      {{ form.phone_number|add_class:"form-control"|attr:"placeholder:شماره تماس *" }}
      {% if form.phone_number.errors %}
        {% for error in form.phone_number.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}
      {% endif %}
    </div>

    <div class="text-center pt-1 mb-5 pb-1">
      <button data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit">ثبت نام</button>
      <br>
      <a class="text-muted" href="{% url 'adv:login' %}">قبلاً ثبت نام کرده اید؟</a>
    </div>
  </form>
</div>
{% endblock %}