{% extends "base.html" %}
{% load static %}
{% block title%}
درباره ما
{% endblock %}

{% block header %}

{% endblock %}


{% block hh22 %}
 <!-- Start About Seciton -->
 <section id="about">
  <div class="st-height-b120 st-height-lg-b80"></div>
  <div class="container">
    <div class="st-section-heading st-style1">
      <h2 class="st-section-heading-title">ما کی هستیم</h2>
      <div class="st-section-heading-seperator left wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.2s"></div>
      <div class="st-section-heading-subtitle">ما تیمی متخصص و خلاق هستیم</div>
    </div>
    <div class="st-height-b40 st-height-lg-b40"></div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="st-vertical-middle">
          <div class="st-vertical-middle-in">
            <div class="st-text-block st-style1">
              <h3 class="st-text-block-subtitle">درباره ما</h3>
              <div class="st-height-b10 st-height-lg-b10"></div>
              <h2 class="st-text-block-title">ما یک کار تیمی عالی برای رویای تجاری شما هستیم</h2>
              <div class="st-height-b20 st-height-lg-b20"></div>
              <div class="st-text-block-text">که با هدف کمک به رشد کسب‌وکارها از طریق تبلیغات جذاب و مؤثر، پا به عرصه گذاشته‌ایم. با برگزاری مسابقات تبلیغاتی منحصربه‌فرد، فرصتی فراهم می‌کنیم تا برندها بتوانند در فضایی پویا و رقابتی، خود را به مخاطبان هدف معرفی کنند.</div>
              <div class="st-height-b20 st-height-lg-b20"></div>
              <ul class="st-list st-style1 st-mp0">
                <li>ماموریت ما این است که با استفاده از ابزارهای نوین و ایده‌های خلاقانه، تبلیغات شما را از حالت سنتی خارج کرده و به سرعت به رشد برندتان کمک کنیم.</li>
                <li>چشم‌انداز ما تبدیل شدن به پلتفرم پیشرو در زمینه برگزاری مسابقات تبلیغاتی است، جایی که هر کسب‌وکاری بتواند به راحتی دیده شود و با مخاطبان خود ارتباط مؤثر برقرار کند. </li>
                <li>ما به تعهد، کیفیت و نوآوری باور داریم و همواره تلاش می‌کنیم تا بهترین تجربه را برای شما و مخاطبانتان خلق کنیم.</li>
              </ul>
              <div class="st-height-b40 st-height-lg-b30"></div>
              <div class="st-text-block-avatar">
                <div class="st-avatar-left">
                  <h4 class="st-avatar-name">محمد محمدی</h4>
                  <div class="st-avatar-designation">مدیر عامل و بنیانگذار</div>
                </div>
                <div class="st-avatar-right">
                  <div class="st-avatar-signature st-white-signature"><img src="{% static 'advplatform/assets/img/signature.png' %}" alt="signature"></div>
                  <div class="st-avatar-signature st-dark-signature"><img src="{% static 'advplatform/assets/img/signature-dark.png' %}" alt="signature"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="st-height-b0 st-height-lg-b30"></div>
      </div><!-- .col -->
      <div class="col-lg-6 wow fadeInRight" data-wow-duration="0.8s" data-wow-delay="0.2s">
        <div class="st-hobble">
          <div class="st-video-block st-style1 st-zoom st-hover-layer">
            <div class="st-video-block-img st-zoom-in st-dynamic-bg" data-src="{% static 'advplatform/assets/img/video-block-img.jpg' %}"></div>
            <a href="https://www.youtube.com/embed/jRcfE2xxSAw?autoplay=1" class="st-play-btn st-style1 st-video-open">
              <i class="flaticon-multimedia"></i>
              <span class="st-video-animaiton"><span></span></span>
            </a>
          </div>
        </div>
      </div><!-- .col -->
    </div>
  </div>
  <div class="st-height-b120 st-height-lg-b80"></div>
</section>
<!-- End About Seciton -->


{% endblock %}