{% extends "base.html" %}
{% load static %}
{% block title%}
مشاورین ما
{% endblock %}

{% block header %}

{% endblock %}


{% block hh22 %}

  <section id="team">
    <div class="st-height-b120 st-height-lg-b80"></div>
    <div class="container">
      <div class="st-section-heading st-style1">
        <h2 class="st-section-heading-title">تیم مشاوران متخصص</h2>
        <div class="st-section-heading-seperator left wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.2s"></div>
        <div class="st-section-heading-subtitle">مشاوران متخصص در بازاریابی، برندینگ و فناوری؛ تحول تبلیغات رقابتی شما</div>
      </div>
      <div class="st-height-b40 st-height-lg-b40"></div>
    </div>
    <div class="container">
      <div class="st-slider st-style2">
        <div class="slick-container" data-autoplay="0" data-loop="1" data-speed="600" data-center="0"  data-slides-per-view="responsive" data-xs-slides="1" data-sm-slides="2" data-md-slides="3" data-lg-slides="4" data-add-slides="4">
          <div class="slick-wrapper">
           
           
         {% for mentor in mentors %}
            <div class="slick-slide-in">
              <div class="st-member st-style1 st-zoom">
                <div class="st-member-img">
                  <img src="{{ mentor.mentorimages.first.image.url }}" alt="member4" class="st-zoom-in">
                </div>
                <div class="st-member-meta">
                  <div class="st-member-meta-in">
                    <h3 class="st-member-name">{{mentor.firstname}} {{mentor.lastname}}</h3>
                    <div class="st-member-designation">{{ mentor.speciality_field}}</div>
                  </div>
                  <ul class="st-member-social st-mp0">
                    <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fab fa-pinterest-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-dribbble-square"></i></a></li>
                  </ul>
                </div>
              </div>
            </div><!-- .slick-slide-in -->
         {% endfor %}
          </div>
        </div><!-- .slick-container -->
        <div class="pagination st-style1 st-flex st-hidden"></div> <!-- If dont need Pagination then add class .st-hidden -->
        <div class="swipe-arrow st-style1"> <!-- If dont need navigation then add class .st-hidden -->
          <div class="slick-arrow-left"><i class="fa fa-chevron-left"></i></div>
          <div class="slick-arrow-right"><i class="fa fa-chevron-right"></i></div>
        </div>
      </div><!-- .st-slider -->
    </div><!-- .container -->
    <div class="st-height-b120 st-height-lg-b80"></div>
  </section>

{% endblock %}