{% extends "base.html" %}
{% load static %}
{% load advplatform_tags %}
{% block title%}
نمونه کارها
{% endblock %}

{% block header %}

{% endblock %}


{% block hh22 %}
<style>
  .portfoliocol {
    display: flex;
    flex-direction: column; /* برای چیدمان مرتب */
    flex: 1; /* برای توزیع فضا */
    min-height: 100%; /* حداقل ارتفاع */
  }
  .portfoliodetail-box {
    flex-grow: 1; /* پر کردن فضای باقی‌مانده */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* چینش مناسب برای محتوا */
    margin-top: 20px;
  }
  
</style>
<br><br><br>
<section id="services">
  <div class="portfoliocontainer">
    <div class="st-section-heading st-style1">
      <h2 class="st-section-heading-title">نمونه کارهای متخصصین</h2>
      <div class="st-section-heading-seperator left wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.2s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.2s; animation-name: fadeInLeft;"></div>
      <div class="st-section-heading-subtitle">از تبلیغات خلاقانه تا کمپین‌های تعاملی: آخرین پروژه‌های موفق ما در صنایع مختلف</div>
    </div><br><br>
    <div class="portfoliorow">
      {% for portfolio in portfolios %}
      <div class="portfoliocol">
        <div class="portfolioimg-box">
          <img src="{% if portfolio.portfolioimages.first.image.url %}
                    {{ portfolio.portfolioimages.first.image.url }}
                    {% else %}
                    {% static 'advplatform/assets/img/noimage.jpg' %}
                    {% endif %}" alt="{{ portfolio.subject }}">
          
          <div class="portfolio-title">{{ portfolio.subject }}</div>
      </div>
        <div class="portfoliodetail-box st-price">
          {% if portfolio.description %}
          <p>{{ portfolio.description | truncatewords:20 }}
            {% else %}بدون توضیحات{% endif %}
          </p>
          <div class="portfolioprice_box">
            <small class="portfolioprice_heading">
              <span>هزینه اجرا:</span> 
              {% if portfolio.execution_price %}
              {{ portfolio.execution_price | format_price }}
              {% else %}
               بدون مبلغ
              {% endif %}
            </small>
            <br>
            <small class="text-primary"><strong>زمان اجرا:</strong> {{ portfolio.get_jalali_datetime }}</small><br>
            <small class="text-success"><strong>زمینه اجرا:</strong> {{ portfolio.topic }}</small><br>
            <span style="background-color: #02e5382e; border-radius: 3px;">مجری: {{ portfolio.dealer.get_full_name }}</span>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

{% endblock %}