{% extends "base.html" %}
{% load static %}

{% block title %}یافت نشد{% endblock %}n">

{% block content %}

    <div class="container body">
      <div class="main_container">
        <!-- page content -->
        <div class="col-md-12">
          <div class="col-middle">
            <div class="text-center text-center">
              <h1 class="error-number">404</h1>
              <h2>صفحه مورد نظر یافت نشد!!!</h2>
              <a href="#" class="green">بازگشت<a>
            </div>
          </div>
        </div>
        <!-- /page content -->
      </div>
    </div>
{% endblock %}
