{% extends "login_base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title%}
صفحه ورود
{% endblock %}



{% block customcontent %}

                <form method="post">
                    {% csrf_token %}
                  <div data-mdb-input-init class="form-outline mb-4">
                    <label class="form-label" type="text" name="username" id="username" >نام کاربری</label>
                    {{ form.username|add_class:"form-control" }}
                    {% if form.username.errors %}
                      {% for error in form.username.errors %}
                      <span class="text-danger">{{ error }}</span>
                      {% endfor %}
                    {% endif %}
                  </div>

                  <div data-mdb-input-init class="form-outline mb-4">
                    <label class="form-label" for="form2Example22">گذرواژه</label>
                     {{ form.password|add_class:"form-control" }}
                    {% if form.password.errors %}
                      {% for error in form.password.errors %}
                      <span class="text-danger">{{ error }}</span>
                      {% endfor %}
                    {% endif %}
                  </div>

                  <div class="text-center pt-1 mb-5 pb-1">
                    <button data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit">ورود</button>
                    <a class="text-muted" href="{% url 'password_reset' %}">رمز خود را فراموش کرده اید؟</a>
                  </div>
                    
                  <div class="d-flex align-items-center justify-content-center pb-4">
                    <p class="mb-0 me-2">ثبت نام نکرده اید؟</p>
                    <a href="{% url 'signup' %}"  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-success">ایجاد حساب کاربری</a>
                  </div>

                </form>


{% endblock %}