{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title%}
صفحه ورود
{% endblock %}

{% block header %}

{% endblock %}


{% block hh22 %}

<section class="h-100 gradient-form" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                  <img src="{% static 'advplatform/assets/img/bidoraa_logo.png' %}" style="width: 185px;" alt="logo">
                </div>
                {% if form.non_field_errors %} 
                  {% for error in form.non_field_errors %}
                  <div class="text-danger">{{ error }}</div>
                  {% endfor %}
                {% endif %}
               {% block customcontent %}{% endblock %}
              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">ما یک کار تیمی عالی برای رویای تجاری شما هستیم</h4>
                <p class="small mb-0">که با هدف کمک به رشد کسب‌وکارها از طریق تبلیغات جذاب و مؤثر، پا به عرصه گذاشته‌ایم.
                   با برگزاری مسابقات تبلیغاتی منحصربه‌فرد، فرصتی فراهم می‌کنیم تا برندها
                   بتوانند در فضایی پویا و رقابتی، خود را به مخاطبان هدف معرفی کنند.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<style>
  .img {
    color: red;
  }
  .gradient-custom-2 {
    /* fallback for old browsers */
    background: #0a84ff;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(
                              to right,
                              #4b93dbff,
                              #0a84ff,
                              #2881dbff, 
                              #0a84ff);
    }
    
    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    }
</style>

{% endblock %}