{% extends "account/account_base.html" %}
{% load static %}
{% load advplatform_tags %}
{% load account_tags %}
{% load crispy_forms_tags %}

{% block title %}شرکت در کمپین{% endblock %}

{% block content %}

<div class="row">
    
    <!-- Participate in Campaign section -->
    <div class="col-md-6 col-xs-12 campaign-form">
        <div class="x_panel">
            <div class="x_title">
                <h2 style="color: #028c32;">شرکت در کمپین</h2>
                <div class="clearfix"></div>
            </div>
            <form method="post" novalidate>
                {% csrf_token %}
                {% if form.errors %}
                <div class="alert alert-danger">
                    <strong>خطا در فرم:</strong>
                    <ul>
                        {% for field, errors in form.errors.items %}
                            {% for error in errors %}
                                <li>{{ field }}: {{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                {{ form|crispy }}
                
                <br>
                <a href="{% url 'account:campaigns' %}" class="btn btn-primary">بازگشت</a>
                <button type="submit" class="btn btn-success">شرکت کردن</button>
            </form>
        </div>
    </div>
    
    <!-- Campaign detail section -->
    <div class="col-md-6 col-xs-12 campaign-details">
        <div class="x_panel">
            <div class="x_title">
                <h2 style="color: #028c32;">جزئیات کمپین</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <p><strong class="campaign-strong">کارفرما:</strong> {{ campaign.customer }}</p>
                <p><strong class="campaign-strong">موضوعات:</strong> {{ campaign.topic.all|join:", " }}</p>
                <p><strong class="campaign-strong">شرح کمپین:</strong> {{ campaign.describe }}</p>
                <p><strong class="campaign-strong">قیمت پیشنهادی:</strong> {{ campaign.purposed_price | format_price }}</p>
                <p><strong class="campaign-strong">مبلغ جایزه:</strong> {{ campaign.get_gift_price | format_price }}</p>
                <p><strong class="campaign-strong">زمان شروع کمپین:</strong> {{ campaign.starttimedate | jalali_timedate }}</p>
                <p><strong class="campaign-strong">زمان پایان کمپین:</strong> {{ campaign.endtimedate | jalali_timedate }}</p>
                <p><strong class="campaign-strong">تعداد شرکت کننده:</strong> {{ campaign.get_participant_count }}</p>
                <small class="text-primary">
                    <strong>زمان شمار:</strong> 
                    <div class="countdown" data-deadline="{{ campaign.get_countdown_datetime }}">
                    </div>
                </small>
            </div>
        </div>
    </div>
</div>


{% endblock %}

