{% extends "account/account_base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}بررسی کمپین‌ تبلیغاتی{% endblock %}

{% block content %}

<div class="row">
    
    <!-- Edit reason section -->
    <div class="col-md-6 col-xs-12 campaign-form">
        <div class="x_panel">
            <div class="x_title">
                <h2 style="color: #028c32;">ویرایش کمپین</h2>
                <div class="clearfix"></div>
            </div>
            <form method="post" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                {{ form1|crispy }}
                
                <br>
                <a href="{% url 'account:campaigns' %}" class="btn btn-primary">بازگشت</a>
                <button type="submit" class="btn btn-success">ارسال</button>
            </form>
        </div>
    </div>
    
    <!-- Campaign detail section -->
    <div class="col-md-6 col-xs-12 campaign-details">
        <div class="x_panel">
            <div class="x_title">
                <h2 style="color: #028c32;">جزئیات کمپین</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <p><strong class="campaign-strong">کارفرما:</strong> {{ campaign.customer }}</p>
                <p><strong class="campaign-strong">موضوعات:</strong> {{ campaign.topic.all|join:", " }}</p>
                <p><strong class="campaign-strong">شرح کمپین:</strong> {{ campaign.describe }}</p>
                <p><strong class="campaign-strong">قیمت پیشنهادی:</strong> {{ campaign.purposed_price }}</p>
                <p><strong class="campaign-strong">وضعیت:</strong> {{ campaign.get_status_display }}</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <!-- برای دیباگ -->
    {% if campaign.needs_mentor %}
        <!-- needs_mentor is True -->
    {% else %}
        <!-- needs_mentor is False -->
    {% endif %}

    {% if not campaign.assigned_mentor %}
        <!-- assigned_mentor is None -->
    {% else %}
        <!-- assigned_mentor exists -->
    {% endif %}

    <!-- بخش اختصاص پیشتیبان -->
    {% if campaign.needs_mentor %}
    <div class="col-md-6 col-xs-12 campaign-form center-block">
        <div class="x_panel">
            <div class="x_title">
                <h2 style="color:rgb(3, 38, 195);">اختصاص پیشتیبان</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                {% if campaign.assigned_mentor %}
                    <p class="text-success">
                        پیشتیبان اختصاص داده شده به این کمپین: 
                        
                        <div class="profile_pic">
                            <strong style="color:rgb(3, 69, 156);">{{ campaign.assigned_mentor.get_full_name }}</strong>
                            {% if campaign.assigned_mentor.customuserimages.first.image.url %}
                                <img src="{{ campaign.assigned_mentor.customuserimages.first.image.url }}" alt="" class="img-circle profile_img" style="width: 50px; height: 50px;">
                            {% else %}
                                <img src="{% static 'account/build/images/user.png' %}" alt="" class="img-circle profile_img" style="width: 50px; height: 50px;">
                            {% endif %}
                        </div>
                    </p>
                {% else %}
                    <p class="text-danger">
                        در حال حاظر به این کاربر برای این کمپین پیشتیبانی اختصاص داده نشده است.
                    </p>
                {% endif %}
            </div>
            <div class="x_content">
                <form method="post" enctype="multipart/form-data" novalidate>
                    {% csrf_token %}
                    <input type="hidden" name="form_type" value="mentor">
                    <div class="form-group">
                        {{ form3.assigned_mentor.label_tag }}
                        {{ form3.assigned_mentor }}
                        {% if form3.assigned_mentor.errors %}
                            <div class="alert alert-danger">
                                {{ form3.assigned_mentor.errors }}
                            </div>
                        {% endif %}
                    </div>
                    <br>
                    <button type="submit" class="btn btn-warning">اختصاص پیشتیبان</button>
                </form>
            </div>
        </div>
    </div>
    {% endif %}
    <!-- بخش تایید و شروع کمپین -->
    <div class="col-md-6 col-xs-12 campaign-form center-block">
        <div class="x_panel">
            <div class="x_title">
                <h2 style="color:rgb(3, 38, 195);">تایید و شروع کمپین</h2>
                <div class="clearfix"></div>
            </div>
            <form method="post" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                <input type="hidden" name="form_type" value="start">
                {{ form2|crispy }}
                <br>
                <button type="submit" class="btn btn-warning">تایید و شروع کمپین</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

