{% extends "account/account_base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}ایجاد کمپین‌ تبلیغاتی{% endblock %}

{% block content %}
<style>
.form-group label {
    margin-top: 10px;  
    font-size: 1.0em;
    color: #34495e;
}

.form-group .form-control {
    margin-top: 5px;
    border-radius: 8px;
    padding: 10px;
    border: 1px solid #ccc;
}

.form-group .form-control:focus {
    border-color: #028c32;
    box-shadow: 0 0 5px rgba(2, 140, 50, 0.5);
}

.btn {
    border-radius: 8px;
    padding: 10px 20px;
}

.btn-success {
    background-color: #028c32;
    border-color: #028c32;
}

.btn-success:hover {
    background-color: #026a24;
    border-color: #026a24;
}
</style>
<div class="col-md-6 col-xs-12 form-group" style="scale:95%;">
  <div class="x_panel">
    <div class="x_title">
        <h2 style="color: #028c32;">ایجاد کمپین‌ جدید</h2>

        <div class="clearfix"></div>
    </div>
    <form method="post" enctype="multipart/form-data" novalidate>
        {% csrf_token %}

        {{ form|crispy }}  <!-- فرم اصلی Campaign -->
    
        <label>تصاویر کمپین‌:</label>
        {{ image_formset.management_form|crispy }}  <!-- مدیریت FormSet -->
        {% for form in image_formset %}
            <div class="image-form">
                {{ form|crispy }}  <!-- نمایش فرم‌های تصاویر -->
            </div>
        {% endfor %}
        
        <br>
        <a href="{% url 'account:campaigns' %}" class="btn btn-primary">بازگشت</a>
        <button type="submit" class="btn btn-success">ارسال</button>
    </form>
  </div>
</div>
{% endblock %}
