{% extends "account/account_base.html" %}
{% load static %}

{% block title %}حذف کمپین‌{% endblock %}

{% block content %}

   <br>
   <br>
   <br>
   <div class="col-md-6 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
          <h2>حذف کمپین‌ </h2>
  
          <div class="clearfix"></div>
      </div>
      <form method="post" enctype="multipart/form-data">
          {% csrf_token %}

          <p>آیا از حذف این کمپین‌ اطمینان دارید؟</p>
          <br>
          <p>بهتر است بجای حذف این کمپین‌ آن را <a href="#" class="text-danger">غیرفعال</a> کنید.</p>
          {{ form }}
         
          <br>
          <a href="{% url 'account:campaigns' %}" class="btn btn-primary">بازگشت</a>
          <button type="submit" class="btn btn-danger">حذف</button>    
  
      </form>
    </div>
  </div>
{% endblock %}