{% extends "account/account_base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load advplatform_tags %}
{% load account_tags %}

{% block title %}بررسی کمپین‌ تبلیغاتی{% endblock %}

{% block extra_head %}
<!-- Add Persian Datepicker CSS -->
<link rel="stylesheet" href="{% static 'account/vendors/persian-datepicker/persian-datepicker.min.css' %}">
<style>
    .pdp-default {
        z-index: 999999;
    }
</style>
{% endblock %}

{% block content %}

<div class="row">
    
    <!-- Edit reason section -->
    <div class="col-md-6 col-xs-12 campaign-form">
        <div class="x_panel">
            <div class="x_title">
                <h2 style="color: #028c32;">ویرایش کمپین</h2>
                <div class="clearfix"></div>
            </div>
            <form method="post" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                {{ form1|crispy }}
                
                <br>
                <a href="{% url 'account:campaigns' %}" class="btn btn-primary">بازگشت</a>
                <button type="submit" class="btn btn-success">ارسال</button>
            </form>
        </div>
    </div>
    
    <!-- Campaign detail section -->
    <div class="col-md-6 col-xs-12 campaign-details">
        <div class="x_panel">
            <div class="x_title">
                <h2 style="color: #028c32;">جزئیات کمپین</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <p><strong class="campaign-strong">کارفرما:</strong> {{ campaign.customer }}</p>
                
                <p><strong class="campaign-strong">موضوع کمپین:</strong> {{ campaign.topic.all|join:", " }} 
                    <img src="{{ campaign.topic.first.icon.url }}" style="width: 30px; height: 30px;">
                </p>
                <p><strong class="campaign-strong">شرح کمپین:</strong> {{ campaign.describe }}</p>
                <p><strong class="campaign-strong">قیمت پیشنهادی:</strong> {{ campaign.purposed_price | format_price }}</p>
                <p><strong class="campaign-strong">وضعیت:</strong> {{ campaign.get_status_display }}</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <!-- برای دیباگ -->
    {% if campaign.needs_mentor %}
        <!-- needs_mentor is True -->
    {% else %}
        <!-- needs_mentor is False -->
    {% endif %}

    {% if not campaign.assigned_mentor %}
        <!-- assigned_mentor is None -->
    {% else %}
        <!-- assigned_mentor exists -->
    {% endif %}

    <!-- بخش اختصاص پیشتیبان -->
    {% if campaign.needs_mentor %}
    <div class="col-md-6 col-xs-12 campaign-form center-block">
        <div class="x_panel">
            <div class="x_title">
                <h2 style="color:rgb(3, 38, 195);">اختصاص پیشتیبان</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                {% if campaign.assigned_mentor %}
                    <p class="text-success">
                        پیشتیبان اختصاص داده شده به این کمپین: 
                        
                        <div class="profile_pic">
                            <strong style="color:rgb(3, 69, 156);">{{ campaign.assigned_mentor.get_full_name }}</strong>
                            {% if campaign.assigned_mentor.customuserimages.first.image.url %}
                                <img src="{{ campaign.assigned_mentor.customuserimages.first.image.url }}" alt="" class="img-circle profile_img" style="width: 50px; height: 50px;">
                            {% else %}
                                <img src="{% static 'account/build/images/user.png' %}" alt="" class="img-circle profile_img" style="width: 50px; height: 50px;">
                            {% endif %}
                        </div>
                    </p>
                {% else %}
                    <p class="text-danger">
                        در حال حاظر به این کاربر برای این کمپین پیشتیبانی اختصاص داده نشده است.
                    </p>
                {% endif %}
            </div>
            <div class="x_content">
                <form method="post" enctype="multipart/form-data" novalidate>
                    {% csrf_token %}
                    <input type="hidden" name="form_type" value="mentor">
                    <div class="form-group">
                        {{ form3.assigned_mentor.label_tag }}
                        {{ form3.assigned_mentor }}
                        {% if form3.assigned_mentor.errors %}
                            <div class="alert alert-danger">
                                {{ form3.assigned_mentor.errors }}
                            </div>
                        {% endif %}
                    </div>
                    <br>
                    <button type="submit" class="btn btn-warning">اختصاص پیشتیبان</button>
                </form>
            </div>
        </div>
    </div>
    {% endif %}
    <!-- بخش تایید و شروع کمپین -->
    <div class="col-md-6 col-xs-12 campaign-form center-block">
        <div class="x_panel">
            <div class="x_title">
                <h2 style="color:rgb(3, 38, 195);">تایید و شروع کمپین</h2>
                <div class="clearfix"></div>
            </div>
            <form method="post" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                <input type="hidden" name="form_type" value="start">
                
                {% if form2.non_field_errors %}
                <div class="alert alert-danger">
                    {% for error in form2.non_field_errors %}
                        {{ error }}
                    {% endfor %}
                </div>
                {% endif %}

                <!-- جایگزین کردن فیلدهای تاریخ با ورودی‌های سفارشی -->
                <div class="form-group">
                    <label for="id_starttimedate">تاریخ شروع:</label>
                    <input type="text" 
                           name="starttimedate" 
                           id="id_starttimedate" 
                           class="form-control persian-datepicker"
                           value="{{ form2.starttimedate.value|default:'' }}"
                           autocomplete="off">
                    {% if form2.starttimedate.errors %}
                        <div class="invalid-feedback d-block text-danger">
                            {{ form2.starttimedate.errors }}
                        </div>
                    {% endif %}
                </div>

                <div class="form-group">
                    <label for="id_endtimedate">تاریخ پایان:</label>
                    <input type="text" 
                           name="endtimedate" 
                           id="id_endtimedate" 
                           class="form-control persian-datepicker"
                           value="{{ form2.endtimedate.value|default:'' }}"
                           autocomplete="off">
                    {% if form2.endtimedate.errors %}
                        <div class="invalid-feedback d-block">
                            {{ form2.endtimedate.errors }}
                        </div>
                    {% endif %}
                </div>

                <br>
                <button type="submit" class="btn btn-warning">تایید و شروع کمپین</button>
            </form>
        </div>
    </div>
</div>

{% block extra_js %}
<!-- Add Persian Datepicker JS -->
<script src="{% static 'account/vendors/persian-datepicker/persian-date.min.js' %}"></script>
<script src="{% static 'account/vendors/persian-datepicker/persian-datepicker.min.js' %}"></script>

<script>
    $(document).ready(function() {
        $('.persian-datepicker').persianDatepicker({
            format: 'YYYY/MM/DD',
            initialValue: false,
            autoClose: true,
            timePicker: {
                enabled: true,
                meridiem: {
                    enabled: true
                }
            },
            onSelect: function(unix) {
                // تبدیل تاریخ به فرمت مناسب برای ارسال به سرور
                var date = new persianDate(unix);
                var gregorianDate = date.toCalendar('gregorian').toLocale('en').format('YYYY-MM-DD HH:mm:ss');
                $(this.model.input.elem).val(gregorianDate);
            }
        });
    });
</script>
{% endblock %}
{% endblock %}

