{% extends 'account/account_base.html' %}
{% load static %}
{% load advplatform_tags %}
{% load account_tags %}

{% block title %}مدیریت فیش‌های واریزی{% endblock %}
{% block content %}
<div class="container mt-4">
    <h2>مدیریت فیش‌های پرداختی</h2>
    
    {% if receipts %}
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>کاربر</th>
                    <th>مبلغ (تومان)</th>
                    <th>تاریخ ثبت</th>
                    <th>بانک</th>
                    <th>شماره پیگیری</th>
                    <th>تصویر فیش</th>
                    <th>وضعیت</th>
                </tr>
            </thead>
            <tbody>
                {% for receipt in receipts %}
                <tr>
                    <td>{{ receipt.transaction.wallet.user.get_full_name }}</td>
                    <td>{{ receipt.transaction.amount | format_price }}</td>
                    <td>{{ receipt.payment_date | jalali_timedate }}</td>
                    <td>{{ receipt.bank_name }}</td>
                    <td>{{ receipt.tracking_number }}</td>
                    <td>
                        <img src="{{ receipt.receipt_image.url }}" alt="فیش پرداختی" style="max-width: 100px;">                        
                    </td>
                    <td>
                        {% if receipt.transaction.status == 'completed' %}
                            <span class="badge badge-success" style="background-color: green;">تایید شده</span>
                        {% elif receipt.transaction.status == 'rejected' %}
                            <span class="badge badge-danger" style="background-color: red;">رد شده</span>
                        {% else %}
                            <span class="badge badge-warning" style="background-color: orange;">درحال بررسی</span>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    {% comment %} {% include "pagination.html" with page_obj=page_obj %} {% endcomment %}
    
    {% else %}
    <div class="alert alert-info">
        در حال حاضر فیش پرداختی در انتظار بررسی وجود ندارد.
    </div>
    {% endif %}
</div>
{% endblock %} 